{%
set classes = [
node.bundle|clean_class,
node.isPromoted() ? 'is-promoted',
node.isSticky() ? 'is-sticky',
not node.isPublished() ? 'is-unpublished',
view_mode ? view_mode|clean_class,
'clearfix',
'ajax-load'
]
%}
<a {{ attributes.addClass(classes) }} href="{{ url }}">

    <div class="initiative-title">
        {{ label }}
        <div class="teaser-icon">
            <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
            <i class="teaser-icon__bg"></i>
        </div>
    </div>

    {{ content.field_image }}
    {#<div class="teaser-triangle">
        <div class="teaser-initiative-logo"></div>
    </div>#}
</a>