* {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-size: 18px;
  font-family: $primary-font;
  line-height: 1.43em;
  color: $primaryBlue;
}

a,
a:visited,
a:hover {
  //color: $primaryBlue;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $supporting-font;
  font-weight: normal;
}

h1 {
  font-size: 50px;
  letter-spacing: 0.06em;
}

h2 {
  font-size: 37px;
  margin-top: 0;
  letter-spacing: 0.01em;
  @media (max-width: $screen-sm) {
    font-size: 27px;
  }
}

button, a {
  outline: 0;
}

p {
  margin-bottom: $line-height-computed;
}

@mixin is-small {
  font-size: 15px;
  line-height: 1.33;
}