$circled_icon_diameter: 98px;

.circled-icon {
  background: #fff;
  border-radius: 50%;
  height: $circled_icon_diameter;
  width: $circled_icon_diameter;
  text-align: center;
  .fa {
    text-decoration: none;
    line-height: $circled_icon_diameter;
    font-size: 64px;
    color: $primaryPink;
    @include grow-duration(0.25s);
    &:hover {
      @include grow-scale(1.15);
      text-decoration: none;
    }
  }
}