.grow-on-hover {
  -webkit-transform:scale(1.05); /* Safari and Chrome */
  -moz-transform:scale(1.05); /* Firefox */
  -ms-transform:scale(1.05); /* IE 9 */
  -o-transform:scale(1.05); /* Opera */
  transform:scale(1.05);
  &:hover {
    -webkit-transition: all 0.5s ease-in-out; /* Safari and Chrome */
    -moz-transition: all 0.5s ease-in-out; /* Firefox */
    -ms-transition: all 0.5s ease-in-out; /* IE 9 */
    -o-transition: all 0.5s ease-in-out; /* Opera */
    transition: all 0.5s ease-in-out;
  }
}