footer.footer {
  background: $primaryGray;
  border: 0;
  color: $primaryLightGray;
  font-size: 15px;
  padding: 50px 0;
  letter-spacing: 0.02em;
  .nav {
    li {
      a {
        font-size: 15px;
        letter-spacing: 0.02em;
        padding: 1px 0;
        &:hover {
          background: none;
          text-decoration: underline;
        }
      }
    }
  }

  strong,
  h2 {
    font-family: Montserrat, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: normal;
    color: $primaryLightGreen;
    text-transform: uppercase;
  }
  h2 {
    margin-top: 5px;
  }

  #block-copyrights {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.footer-bottom {
  letter-spacing: 0.04em;
  padding-bottom: 8px;
  font-size: 15px;
  background: $primaryBlue;
  color: #fff;
  a {
    color: #fff;
    letter-spacing: 0.04em;
  }
}

.site-logo-wrapper {
  width: 150px;
  height: 130px;
  display: block;
  a {
    display: block;
    width: 95px;
    margin: auto;
    text-align: center;
    img {
      height: 100px;
    }
  }
}

#block-externallinks {
  margin-bottom: 20px;
}

#block-sociallinks {
  li {
    display: inline-block;
    margin-right: 45px;
  }
  a {
    font-size: 0;
    &:before {
      color: $primaryBlue;
      line-height: 35px;
      font-size: 35px;
      font-family: FontAwesome;
    }
    &:hover {
      text-decoration: none;
    }
  }
  a[href^="http://twitter"],
  a[href^="https://twitter"],
  a[href^="http://www.twitter"],
  a[href^="https://www.twitter"] {
    &:before {
      content: "\f099";
    }
  }
  a[href^="http://facebook"],
  a[href^="https://facebook"],
  a[href^="http://www.facebook"],
  a[href^="https://www.facebook"] {
    &:before {
      content: "\f09a";
    }
  }
  a[href^="http://youtube"],
  a[href^="https://youtube"],
  a[href^="http://www.youtube"],
  a[href^="https://www.youtube"] {
    &:before {
      content: "\f166";
    }
  }
}
