.site-logo {
  display: block;
  width: 150px;
  margin: 12px 0;
  img {
    display: block;
    width: 112px;
    margin: 0 auto
  }
}

.navbar-center {
  padding-top: 38px;
  text-align: center;
}

.navbar-default {
  border: 0;
  background: #fff;
  box-shadow: 0 0 9px 7px rgba(0, 0, 0, 0.02);
  height: 125px;
}

.region-navigation {
  line-height: 50px;
  letter-spacing: 0.02em;
}

.region-navigation-right {
  padding-top: 35px;
}

.hamburger {

  &:hover,
  &:focus {
    text-decoration: none;
  }

  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    height: 5px;
    border-radius: 0;
    width: 35px;
  }

  .hamburger-box {
    width: 35px;
  }

  .hamburger-prefix {
    position: relative;
    top: -3px;
    margin-right: 10px;
    display: inline-block;
  }

  @media (max-width: $ar-mobile-size) {
    padding-right: 0 !important;
  }
}
