/**
 * Initiative pager.
 */
#block-initiativepagerblock {
  margin: 0 auto;
}

.path-front-page {
  .initiative-right-column {
    transform: translateY(100%);
  }

  .initiative-left-column {
    transform: translateX(100%);
  }
}

.initiative-pager {
  font-family: $supporting-font;
  margin-bottom: 0;

  li {
    padding: 0;
  }

  &-arrow {
    &:focus,
    &:hover {
      text-decoration: none;
    }

    .fa {
      font-size: 45px;
      font-weight: bold;
    }

    span {
      line-height: 1.2em;
      letter-spacing: .01em;
      font-size: 13px;
      display: inline-block;
      max-width: 150px;
    }

    &__previous {
      text-align: left;

      span {
        margin-left: 30px;
      }
    }

    &__next {
      text-align: right;

      span {
        margin-right: 30px;
      }
    }
  }

  &-heading {
    font-weight: bold;
    font-size: 18px;

  }
}

/**
 * Initiative close button.
 */
#block-initiativeclosebuttonblock {
  .hamburger-inner {
    &,
    &::after,
    &::before {
      background-color: $primaryBlue;
    }
  }
}

$initiative-content-left-padding: 55px;

.page-node-type-initiative {
  .page-header {
    display: none;
  }

  .main-container {
    background: $primaryGray;
    @media (max-width: $screen-md-min) {
      background: none;
    }
  }

  .footer {
    margin-top: 0;
  }
}

.initiative-left-column {
  background: $primaryGray;
  width: 100%;
  max-width: 450px;
  height: 100%;

  position: fixed;
  top: 125px;
  left: 0;
  backface-visibility: hidden;
  z-index: 3;
  @media (max-width: $ar-mobile-size) {
    position: relative;
    top: 0;
    max-width: 100%;
    width: 100%;

    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);

    .initiative-featured .field--name-field-image {
      img {
        width: 200%;
        max-width: 100%;
      }
    }

    .initiative-featured .field--name-field-formatted-text,
    .initiative-featured .field--name-field-image {}
  }
  @media (max-width: 1250px) and (min-width: 992px) {
    max-width: 450px;
  }
  @media (max-width: $screen-md) {
    display: none !important;
  }
}

.initiative-right-column {
  background: #fff;
  position: fixed;
  left: 450px;
  top: 125px;
  right: 0;
  z-index: 4;

  max-height: 100%;
  height: 100%;
  height: calc(100% - 55px);
  backface-visibility: hidden;

  .initiative-scrollarea {
    overflow-x: hidden;
    overflow-y: scroll;
    max-height: 100%;
    height: 100%;
    height: calc(100% - 80px);
    padding: 0;
    @media (max-width: $ar-mobile-size) {
      padding: 0;
    }

  }

  .initiative-inner {
    max-width: 820px;
    margin: 0;
    padding: 50px 80px;
    box-sizing: content-box;
    @media (max-width: 1600px) {
      max-width: 760px;
    }
    @media (max-width: $ar-mobile-size) {
      max-width: 100%;
      padding: 15px;
    }
  }
  @media (max-width: $ar-mobile-size) {
    position: relative;
    left: 0;
    top: 0;
  }
  @media (max-width: 1250px) and (min-width: $ar-mobile-size) {
    left: 450px;
  }
}

.initiative-featured-wrapper {
  width: inherit;
}

.initiative-featured {
  width: 100%;

  .field--name-field-image {
    background: $primaryGray;
  }

  .field--name-field-formatted-text {
    background: $primaryGray;
    padding: 20px 30px;
    @media (max-height: 750px) {
      position: absolute;
      bottom: 180px;
      width: 100%;
      padding: 20px 30px;
    }
    @media (max-width: 1250px) {
      padding: 25px;
    }

    p:last-child {
      margin-bottom: 50px;
    }
  }
  @media (min-width: 992px) {
    /* display: flex;
    flex-flow: column;
    height: 100vh;

    .field--name-field-image {
      flex: 1;
      height: 1px;
    }
    .field--name-field-formatted-text {
      flex: 1;
    } */
  }
  @media (max-width: $screen-sm) {
    display: block;
    height: auto;
    width: auto;

    & > div {
      display: block;
      height: auto !important;
      width: auto;

    }

    .field--name-field-formatted-text {
      p:last-child {
        margin-bottom: 0;
      }
    }

  }

}

.initiative-heading {
  background: url('../images/initiative-logo-colored.png') no-repeat top left;
  padding-left: $initiative-content-left-padding;
  font-size: 17px;
  font-family: $supporting-font;
  letter-spacing: 0,02em;
  margin: 0 0 60px;

  h1 {
    font-family: $supporting-font;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 0,02em;
    margin-top: 0;
  }
  @media (max-width: $screen-sm) {
    margin: 45px 0 40px;
  }
}

.initiative-menu {
  z-index: 1;
  top: 0;
  right: 0;
  background: #f0f0f0;
  text-align: right;
  margin: 0;
  height: 45px;
  width: inherit;

  ul {
    margin-bottom: 0;
    max-width: 920px;
    @media (max-width: 1600px) {
      max-width: 760px;
    }
    @media (max-width: 1440px) {
      max-width: 680px;
    }
    @media (max-width: 1280px) {
      max-width: 600px;
    }

    li {
      margin: 0;
      padding: 0;

      a {
        display: inline-block;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 12px;
        font-family: $supporting-font;
        letter-spacing: .04em;
        padding: 10px 20px;

        &:focus {
          text-decoration: none;
        }

        &.is-active,
        &:hover {
          text-decoration: none;
          background: #f9f9f9;
          /* Old browsers */
          background: -moz-linear-gradient(top, #f9f9f9 0%, #ffffff 100%);
          /* FF3.6-15 */
          background: -webkit-linear-gradient(top, #f9f9f9 0%, #ffffff 100%);
          /* Chrome10-25,Safari5.1-6 */
          background: linear-gradient(to bottom, #f9f9f9 0%, #ffffff 100%);
          /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        }
      }
    }
  }
  @media (max-width: $ar-mobile-size) {
    display: none;
    margin: 0 !important;
    width: 100%;

    ul {
      float: right;

      li {
        a {
          padding: 10px;
        }
      }
    }
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  }

}

.initiative.full {
  background: $primaryGray;

  .initiative-content {
    padding-left: 35px;
    line-height: 1.57em;
    @media (max-width: $screen-md) {
      padding-left: 0;
    }

    .field--type-entity-reference-revisions {
      > h2 {
        text-transform: uppercase;
        font-size: 21px;
        letter-spacing: .04em;
        font-weight: 600;
        margin-bottom: 35px;
        background: $primaryBlue;
        color: #fff;
        padding: 8px 25px;
      }
    }

    .field--type-entity-reference-revisions {
      margin-bottom: 0;

      &:last-child {
        margin-bottom: 0;
      }
    }

    /**
   * Overview.
   */
    .field--name-field-introduction {
      margin-bottom: 100px;
    }
  }

  #block-copyrights {
    background: $primaryBlue;
    color: #fff;
    position: relative;
    padding: 10px;
  }

  /**
    * Accomplishment.
    */
  .paragraph--type--accomplishment {
    margin-bottom: 37px;

    & > .field--name-field-text {
      padding: 0 0 14px;
      color: #1a6a9f;
      font-size: 28px;
      line-height: 1.25em;
      letter-spacing: .02em;

      border-bottom: 10px solid transparent;
      -moz-border-image: -moz-linear-gradient(right, #94D667 0%, #FFFFFF 100%);
      -webkit-border-image: -webkit-linear-gradient(right, #94D667 0%, #FFFFFF 100%);
      border-image: linear-gradient(to right, #94D667 20%, #FFFFFF 100%);
      border-image-slice: 1;
      border-top: 0;
      border-left: 0;
      border-right: 0;
    }

    .content {
      font-size: 18px;
      padding: 25px 0 0;

      ul {
        margin-left: 20px;
        padding-left: 0;

        li {
          list-style-image: none;
          list-style: none;
          padding-left: 20px;
          position: relative;

          &::before {
            left: 0;
            position: absolute;
            font-family: Arial, serif;
            font-size: 26px;
            content: '• ';
            color: $primaryLightGreen;
          }
        }
      }
    }

    .field--name-field-formatted-text,
    .field--name-field-video-embed {
      margin-bottom: 20px;

      p {
        margin-top: 20px;
      }
    }

    .field--name-field-video-embed {
      margin-left: -35px;
      margin-right: -35px;
      margin-bottom: 25px;
    }

    & .content > .field--name-field-image {
      margin-left: -35px;
      margin-right: -35px;
      margin-bottom: 20px;

      img {
        max-width: 200%;
        width: 100%;
        height: auto;
      }
    }

    .field--name-field-link {
      margin: 30px 0 0;
    }

  }

  .field--name-field-accomplishments {
    & > .field--item {
      margin-bottom: 60px;
    }
  }

  /**
   * Impact
   */
  .field--name-field-impact {
    .field--item:nth-child(odd) .paragraph--type--impact {
      background: $primaryLightGreen;

      .field--name-field-heading,
      .field--name-field-text {
        color: #fff;
      }
    }
  }

  .field--name-field-impacts {
    margin: 0 -35px;
  }

  .paragraph--type--impact {
    position: relative;
    letter-spacing: .04em;
    display: table;
    width: 100%;
    border-bottom: 3px solid #fff;

    .field--name-field-heading {
      font-family: $primary-font;
      font-size: 40px !important;
      margin-bottom: 5px;
      @include break-word;
    }

    .field--name-field-text {
      font-weight: bold;
      font-size: 20px;
      @include break-word;
    }

    .field--name-field-custom-icon img {
      max-width: none !important;
      max-height: 64px;
      margin: auto;
    }

    &__icon {
      height: 70px;
      width: 70px;
      overflow: auto;
      margin: auto;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      display: table;

      .field--name-field-file,
      .field--name-field-icon {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        position: relative;
        width: 70px;
        height: 70px;
        background: #fff;
        border-radius: 50%;
        padding: 10px;
      }

      .fa {
        font-size: 2.25em;
      }
    }

    &__left,
    &__right {
      display: table-cell;
      vertical-align: middle;
      width: 50%;
      height: 200px;
      @media (max-width: $screen-md), (max-width: 1100px) and (min-width: 991px) {
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        width: 100%;
        height: 200px;
      }

    }

    &__left {
      padding: 30px 30px 60px;
      background: #90D262;
      color: #fff;
    }

    &__right {
      background: #1a6a9f;
      color: #fff;

      .field--name-field-image {
        height: 100%;
      }

      .field--name-field-formatted-text {
        padding-left: 60px;
        padding-right: 25px;
        font-size: 14px;
        @media (max-width: $screen-md), (max-width: 1100px) and (min-width: 991px) {
          padding: 45px 30px;
          display: block;
        }
      }

      .field--name-field-image {
        > div {
          background-size: cover;
          background-position: 50% 50%;
          // height: 200px;
          height: 100%;
          width: 100%;
        }
      }
    }

  }

  /**
   * Quote
   */
  .field--name-field-impact {
    .field--item:nth-child(odd) .paragraph--type--quote {
      background: $primaryGray;
    }
  }

  .paragraph--type--quote {
    padding: 30px 0;

    .field--name-field-formatted-text {
      font-size: 18px;
      font-style: italic;
      letter-spacing: .04em;
      font-weight: 400;
      line-height: 1.57em;
      border-bottom: 1px solid $primaryBlue;
      margin-bottom: 10px;
      padding-bottom: 10px;

      p {
        display: inline;
      }

      &:before {
        content: '“';
      }

      &:after {
        content: '”';
      }
    }

    .field--name-field-text {
      font-family: $supporting-font;
      font-size: 14px;
      letter-spacing: .1em;
      color: $primaryPink;
      text-transform: uppercase;

      &:before {
        content: '— ';
      }
    }
  }

  .field--name-field-quotes {
    padding-top: 10px;

    .field--item:nth-child(even) {
      .paragraph--type--quote {
        margin-left: 20px;
        @media (max-width: $screen-md) {
          margin-left: 0;
        }
      }
    }
  }

  /**
   * Video.
   */
  .paragraph--type--video-embed {
    padding: 48px 0;
  }
}

.initiatives__item {
  .navbar {
    box-shadow: none;
  }
}
