.half-container {

  $half-container-ratio: 1.6;

  @include clearfix;

  @media (min-width: $screen-sm-min) {
    width: $container-sm / $half-container-ratio;
  }
  @media (min-width: $screen-md-min) {
    width: $container-md / $half-container-ratio;
  }
  @media (min-width: $screen-lg-min) {
    width: $container-lg / $half-container-ratio;
  }
}

@media (max-width: 768px) {
  .container {
    width: 95%;
  }
}

@media (max-width: $ar-mobile-size) {
  .main-container {
    //padding: 0;
  }
}