$huge_title_height: 425px;

.huge-title {
  height: $huge_title_height;
  background-size: cover;
  background-position: top right;

  width: 100%;

  .container {
    display: table;
    height: 100%
  }

  .page-header-wrapper {
    display: table-cell;
    vertical-align: middle;
    width:100%;
  }

  h1 {
    display: inline-block;
    color: #fff;
    border: 0;
    padding-left: 70px;
    span:last-child {
      font-weight: bold;
    }

    @media (max-width: $screen-sm) {
      background: #ccc;
      background: rgba(255, 255, 255, 0.3);
      padding: 10px;
    }

  }
}