#initiatives {

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 3000;
  overflow: auto;

  &.is-active {
    display: block;
  }

  .initiatives-overlay {
    // -moz-transition: opacity .6s cubic-bezier(0.175, 0.885, 0.32, 1);
    // -o-transition: opacity .6s cubic-bezier(0.175, 0.885, 0.32, 1);
    // -webkit-transition: opacity .6s cubic-bezier(0.175, 0.885, 0.32, 1);
    // transition: background .6s ease;
    // filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    // // opacity: 0;
    // background: rgba(0, 0, 0, 0);
    //
    // position: fixed;
    // left: 0;
    // z-index: 2008;
    // width: 100%;
    // height: 100%;
    //
    // &.is-active {
    //   // opacity: 1;initiative-right-column
    //   background: rgba(0, 0, 0, 0.75);
    // }
    display: none;
  }

  .initiatives__item {
    -moz-transition: -moz-transform 1s cubic-bezier(0.175, 0.885, 0.32, 1);
    -o-transition: -o-transform 1s cubic-bezier(0.175, 0.885, 0.32, 1);
    -webkit-transition: -webkit-transform 1s cubic-bezier(0.175, 0.885, 0.32, 1);
    transition: transform 1s cubic-bezier(0.175, 0.885, 0.32, 1);
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2004;
    width: 100%;
    height: 100%;
    overflow: auto;

    &.is-active {
      z-index: 2009;
    }
    @media (max-width: $ar-mobile-size) {
      padding-top: 125px;
    }
  }

}

body * {
  //-webkit-transform: translate3d(0, 0, 0);
}

#wrapper > .navbar-default {
  transition: .5s opacity ease;
}

body.pjax-overlay {
  overflow: hidden;
  // position: fixed;
  #wrapper > .navbar-default {
    // display: none;
    opacity: 0;
  }

}

body.toolbar-fixed.toolbar-horizontal.toolbar-tray-open .initiatives__item .navbar-fixed-top {
  top: 0;
}

body.toolbar-fixed.toolbar-horizontal.toolbar-tray-open {
  .initiative-left-column,
  .initiative-right-column {
    top: 204px;
  }

  .initiatives__item {
    .initiative-left-column,
    .initiative-right-column {
      top: 125px;
    }
  }
}
@media (max-width: 767px) {}
