/**
 * Report page layout.
 */
.page-node-type-report {
  .region-content {
    margin: 0 -15px;
  }
}

/**
 * Section heading.
 */
.section-heading {
  @include break-word;

  text-align: center;
  max-width: 780px;
  margin: 0 auto 50px;

  div:first-child {
    font-size: 37px;
    font-weight: bold;
    margin-bottom: 25px;
  }

  div:nth-child(2) {
  }
}

/**
 * All paragraph sections of Report page.
 */
.paragraph.is-large {
  padding-top: 85px;
  padding-bottom: 90px;
  @media (max-width: $screen-sm) {
    padding-top: 42px;
    padding-bottom: 45px;
  }
}

/**
 * Intro component.
 */
.paragraph--type--intro-section {
  position: relative;
  top: -40px;
  padding-top: 0;
  padding-bottom: 50px;

  &__anchor {
    position: absolute;
    top: -$circled_icon_diameter / 2;
    left: 50%;
    margin-left: - $circled_icon_diameter / 2;
  }

  .field--name-field-heading {
    top: -7px;
    position: relative;
    font-weight: 300;
    font-size: 36px;
    letter-spacing: .01em;
    font-family: $primary-font;
    line-height: 1.41em;
    padding-right: 40px;
    @media (max-width: $screen-sm-max) {
      padding-right: 0;
    }
  }

  .field--name-field-formatted-text {
    padding-left: 40px;
    line-height: 1.6em;
    letter-spacing: .01em;
    @media (max-width: $screen-sm-max) {
      padding-left: 0;
    }
  }
}

/**
 * Featured content row component.
 */
.paragraph--type--featured-content {
  > div {
    @media ($screen-md) {
      display: flex;
      flex-wrap: wrap;
      &:before {
        display: none;
      }
    }
  }
}

/**
 * Featured content item component.
 */
.paragraph--type--featured-content-item {
  background: #f9f9f9;
  margin-bottom: 20px;
  display: table;
  width: 100%;
  height: 290px;
  min-height: 290px;
  border-bottom: 7px solid $primaryBlue;

  h2 {
    font-family: $primary-font;
    letter-spacing: .02em;
  }

  .featured-content-item {
    &__left,
    &__right {
      height: 250px;
      display: table-cell;
      vertical-align: top;
      @media (min-width: $screen-sm-min) {
        float: none;
        width: 100%;
      }
      @media (min-width: 769px) {
        width: 50%;
      }
      /* @media (min-width: 992px) {
        float:none;
        width: 100%;
      } */
    }

    &__left {
      position: relative;
      overflow: hidden;
      @media (max-width: $screen-md) {
        display: block;
        width: 100%;
      }
    }

    &__right {
      @media (max-width: $screen-md) {
        display: block;
        width: 100%;
        height: auto !important;
        padding-bottom: 25px !important;
      }

      .featured-content-item__right_wrapper {
        @media (max-width: $screen-md) {
          padding-left: 0;
        }
      }
    }

    &__image {
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      overflow: hidden;
      background-size: cover;
      background-position: center center;
      -webkit-transition: all 1s ease;
      /* Safari and Chrome */
      -moz-transition: all 1s ease;
      /* Firefox */
      -ms-transition: all 1s ease;
      /* IE 9 */
      -o-transition: all 1s ease;
      /* Opera */
      transition: all 1s ease;

      &:hover {
        -webkit-transform: scale(1.25);
        /* Safari and Chrome */
        -moz-transform: scale(1.25);
        /* Firefox */
        -ms-transform: scale(1.25);
        /* IE 9 */
        -o-transform: scale(1.25);
        /* Opera */
        transform: scale(1.25);
      }
    }
  }

  .featured-content-item__right_wrapper {
    padding-left: 10px;
  }

  .content {
    padding: 25px 25px 0;
    height: 290px !important;
  }

  .field--name-field-image {
    overflow: hidden;

    img {
      -webkit-transition: all 1s ease;
      /* Safari and Chrome */
      -moz-transition: all 1s ease;
      /* Firefox */
      -ms-transition: all 1s ease;
      /* IE 9 */
      -o-transition: all 1s ease;
      /* Opera */
      transition: all 1s ease;

      &:hover {
        -webkit-transform: scale(1.25);
        /* Safari and Chrome */
        -moz-transform: scale(1.25);
        /* Firefox */
        -ms-transform: scale(1.25);
        /* IE 9 */
        -o-transform: scale(1.25);
        /* Opera */
        transform: scale(1.25);
      }
    }
  }

  .field--name-field-heading {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 5px;
  }

  .field--name-field-formatted-text {
    @include is-small;
  }

}

.field--name-field-paragraphs {
  .field--item:nth-child(2) .paragraph--type--featured-content-item {
    border-color: $primaryPink;
  }

  .field--item:nth-child(3) .paragraph--type--featured-content-item {
    border-color: $primaryLightGreen;
  }

  .field--item:nth-child(4) .paragraph--type--featured-content-item {
    border-color: $primaryYellow;
  }
}

/**
 * Initiatives component.
 */
.paragraph--type--initiatives {
  &.is-large {
    padding-bottom: 70px;
  }

  .field--name-field-heading {
  }

  .field--name-field-formatted-text {
  }
}

/**
 * Bullet list with background.
 */
.paragraph--type--bullet-list-with-title {
  background-repeat: no-repeat;

  &.is-large {
    padding-bottom: 0;
  }

  .content {
    max-width: 780px;
    margin: 0 auto;
  }

  .section-heading {
    color: #fff;
  }

  .field--name-field-heading {
  }

  .field--name-field-formatted-text-multi {
    .field--item {
      position: relative;
      padding-left: 80px;
      margin-bottom: 45px;

      &:before {
        position: absolute;
        top: 0;
        left: 20px;
        content: '\f00c';
        font: normal normal normal 25px/1 FontAwesome;
        color: $primaryLightGreen;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

/**
 * Section with logos.
 */
.paragraph--type--section-with-logos {
  margin-top: 50px;

  .section-heading {
    margin-bottom: 70px;
  }

  &.is-large {
    padding-bottom: 30px;
  }

  .field--name-field-image-multi {
    div {
      margin-bottom: 70px;
      @media (max-width: $screen-sm) {
        &:last-child {
          margin-bottom: 10px;
        }
      }
    }

    img {
      display: block;
      max-height: 80px;
      width: auto;
      margin: auto;
    }
  }
}

/**
 * Section with background.
 */
.paragraph--type--section-with-background {
  color: #fff;
  height: 360px;
  display: table;
  width: 100%;
  background-size: cover;
  background-position: top right;

  .content {
    display: table-cell;
    vertical-align: middle;
  }
}

/**
 * Section with CTA.
 */
.paragraph--type--section-with-cta {
  text-align: center;

  .section-heading {
    margin-bottom: 25px;
  }

  .btn {
    min-width: 375px;
    @media (max-width: $screen-sm) {
      min-width: 300px;
    }
    @media (max-width: 350px) {
      min-width: 100%;
    }
  }
}

/**
 * Initiatives.
 */
.paragraph--type--initiatives {
  .field--name-field-initi {
    .field--item {
      &:nth-child(2) {
        .teaser-triangle {
          border-color: $primaryPink transparent transparent transparent;
        }
      }

      &:nth-child(3) {
        .teaser-triangle {
          border-color: $primaryLightGreen transparent transparent transparent;
        }
      }

      &:nth-child(4) {
        .teaser-triangle {
          border-color: $primaryYellow transparent transparent transparent;
        }
      }

      &:nth-child(5) {
        .teaser-triangle {
          border-color: $primaryOrange transparent transparent transparent;
        }
      }

      &:nth-child(6) {
        .teaser-triangle {
          border-color: $primaryRed transparent transparent transparent;
        }
      }
    }
  }
}

/**
 * Initiative teaser.
 */

.field--name-field-initi {
  @media (max-width: $screen-sm-min) {
    .col-xs-6 {
      width: 100%;
      float: none;
    }
  }
}

.initiative.teaser {

  $initiative-teaser-animation-time: .5s;

  position: relative;
  display: block;
  overflow: hidden;
  margin-bottom: 30px;

  &:before {
    display: block;
    background: rgb(18, 40, 69);
    opacity: .2;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    -webkit-transition: opacity $initiative-teaser-animation-time ease-in-out;
    -moz-transition: opacity $initiative-teaser-animation-time ease-in-out;
    -ms-transition: opacity $initiative-teaser-animation-time ease-in-out;
    -o-transition: opacity $initiative-teaser-animation-time ease-in-out;
    transition: opacity $initiative-teaser-animation-time ease-in-out;
  }

  &:hover {
    &:before {
      opacity: .5;
    }

    .initiative-title {
      top: 45%;
    }

    .teaser-icon {
      opacity: 1;
      animation: reveal $initiative-teaser-animation-time ease-in-out;
    }

    img {
      @include grow-scale(1.05);
    }
  }

  .initiative-title:hover {
    color: #adf !important;
    text-decoration: underline;
  }

  .initiative-title {
    @include vertical-align;
    top: 60%;
    display: block;
    width: 100%;
    position: absolute;
    z-index: 100;
    text-align: center;
    font-size: 22px;
    letter-spacing: .02em;
    color: #adf;
    text-decoration: underline;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0 20px;

    transition: top $initiative-teaser-animation-time ease-in-out;
  }

  img {
    display: block;
    @include grow-duration(0.5s);
  }

  .teaser-icon {
    position: relative;
    display: block;
    opacity: 0;
    z-index: 2;
    text-align: center;
    width: 35px;
    color: $primaryPink;
    font-size: 40px;
    margin: 5px auto 0;

    .fa {
      position: relative;
      z-index: 1;
    }

    &__bg {
      position: absolute;
      top: 8px;
      left: 5px;
      background-color: #fff;
      height: 24px;
      width: 24px;
      display: block;
    }
  }

  .teaser-triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 50px 50px 0 0;
    border-color: $primaryBlue transparent transparent transparent;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 1;
  }

  .teaser-initiative-logo {
    background: url('../images/initiative-logo.png') no-repeat top left;
    width: 17px;
    height: 20px;
    display: block;
    position: absolute;
    top: -45px;
    left: 6px;
  }

}

.col-md-3 .initiative.teaser .initiative-title {
  font-size: 20px;
  letter-spacing: 0;
  padding: 0 5px;
}

@keyframes reveal {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  75% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.field.field--name-field-initi.field--type-entity-reference.field--label-hidden.field--items.row .col-md-5 {
  width: 45.83%;
}

a {
  text-decoration: underline;
}

nav#block-sociallinks a {
  text-decoration: none;
}