#block-sidenavblock {

  transform: translateX(100%);
  transition: transform .5s;

  position: fixed;
  top: 0;
  right: 0;
  width: 600px;
  background: rgba(255, 255, 255, 0.95);
  padding: 150px 200px 20px 68px;
  height: 100%;
  overflow-y: scroll;
  z-index: 1029;

  &.is-active {
    transform: translateX(0);
  }
  @media (max-width: $screen-md-min) {
    max-width: 100%;
    width: 100%;
    padding: 150px 40px 0;
  }
  @media (max-width: $screen-sm) {
    padding-top: 135px;
  }
}

.toolbar-horizontal {
  #block-sidenavblock {
    margin-top: 80px;
  }
}

.sidenav-toggle {
  color: $primaryBlue;
  cursor: pointer;

  .sidenav-toggle__labels {
    display: inline-block;
    padding: 15px 0;
    position: relative;
    top: -5px;
    font-size: 18px;
  }

  .hamburger-inner {
    background: $primaryBlue;

    &:after,
    &:before {
      background: $primaryBlue;
    }
  }
}

.sidenav-menu {
  ul {
    list-style: none;

    li {
      a {
        line-height: 1.53em;
        font-size: 30px;
        font-family: $supporting-font;
        letter-spacing: .01em;
        text-decoration: underline;

        &.is-active {
          color: $primaryPink;
          text-decoration: underline;
        }
      }

      ul {
        margin: 35px 0;

        li {
          margin-bottom: 15px;

          a {
            line-height: 1.22em;
            font-size: 18px;
          }
        }
      }
    }
  }
}
