.white-box {
  padding: 75px 45px;
  background: #fff;
  box-shadow: 0 3px 51px rgba(195,195,195,.24);

  &--slim {
    padding: 35px;
  }

  @media (max-width: $screen-sm-max) {
    padding: 45px 35px;
  }
}