/**
 * Default Variables.
 *
 * Modify this file to provide default Bootstrap Framework variables. The
 * Bootstrap Framework will not override any variables defined here because it
 * uses the `!default` flag which will only set their default if not already
 * defined here.
 *
 * You can copy existing variables directly from the following file:
 * ./THEMENAME/bootstrap/assets/stylesheets/bootstrap/_variables.scss
 */

// Set the proper directory for the Bootstrap Glyphicon font.
$icon-font-path: '../bootstrap/assets/fonts/bootstrap/';

$primary-font: 'Open Sans', Helvetica, sans-serif;
$supporting-font: 'Montserrat', Helvetica, sans-serif;

$blue: #2067d8;
$primaryBlue: #1a6a9f;
$primaryLightBlue: #248be5;
$primaryPink: #e04aa1;
$primaryLightGreen: #91d35b;
$primaryYellow: #efca43;
$primaryOrange: #ef8e3e;
$primaryRed: #e54e4e;
$primaryGray: #f5f6f6;
$primaryGrayTransparent: rgba(245, 246, 246, 0.9);
$primaryLightGray: #7F7F7F;

$brand-primary: $primaryBlue !default; // #337ab7
$brand-success: $primaryLightGreen !default;
$brand-info: $primaryLightBlue !default;
$brand-warning: $primaryOrange !default;
$brand-danger: $primaryRed !default;

$ar-mobile-size: 991px;
