@mixin is-square {
  border-radius:0 !important;
}

@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin grow-scale($scale: 1.05) {
  -webkit-transform:scale($scale); /* Safari and Chrome */
  -moz-transform:scale($scale); /* Firefox */
  -ms-transform:scale($scale); /* IE 9 */
  -o-transform:scale($scale); /* Opera */
  transform:scale($scale);
}

@mixin grow-duration($time: 0.5s) {
  -webkit-transition: all $time ease-in-out; /* Safari and Chrome */
  -moz-transition: all $time ease-in-out; /* Firefox */
  -ms-transition: all $time ease-in-out; /* IE 9 */
  -o-transition: all $time ease-in-out; /* Opera */
  transition: all $time ease-in-out;
}

@mixin break-word {
    /* These are technically the same, but use both */
    overflow-wrap: break-word;
    word-wrap: break-word;

    -ms-word-break: break-all;
    /* This is the dangerous one in WebKit, as it breaks things wherever */
    word-break: break-all;
    /* Instead use this non-standard one: */
    word-break: break-word;

    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    -ms-hyphens: manual;
    -moz-hyphens: manual;
    -webkit-hyphens: manual;
    hyphens: manual;
}

.is-square {
  @include is-square;
}