.text-is-uppercase {
  text-transform: uppercase !important;
}

.has-img-responsive {
  img {
    @include img-responsive;
  }
}

.has-img-can-enlarge {
  img {
    width: 200%;
    max-width: 100%;
  }
}

.has-no-overflow {
  overflow: hidden;
}

.no-padding {
  padding: 0;
}

@media (max-width: $ar-mobile-size) {
  .page-node-type-initiative .content-section-wrapper {
    padding: 0;
  }
  .pjax-overlay .content-section-wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@include text-emphasis-variant('.text-pink', $primaryPink);
@include text-emphasis-variant('.text-success', $brand-success);

@media (min-width: $screen-xs) {
  .position-fixed-xs {
    position: fixed;
  }
  .text-left-xs {
    text-align: left;
  }
  .text-right-xs {
    text-align: right;
  }
  .text-center-xs {
    text-align: center;
  }
}

@media (min-width: $screen-sm) {
  .no-padding-sm {
    padding: 0;
  }
  .position-fixed-sm {
    position: fixed;
  }
  .text-left-sm {
    text-align: left;
  }
  .text-right-sm {
    text-align: right;
  }
  .text-center-sm {
    text-align: center;
  }
}

@media (min-width: $screen-md) {
  .no-padding-md {
    padding: 0;
  }

  .position-fixed-md {
    position: fixed;
  }

  .text-left-md {
    text-align: left;
  }
  .text-right-md {
    text-align: right;
  }
  .text-center-md {
    text-align: center;
  }
}

@media (min-width: $screen-lg) {
  .position-fixed-lg {
    position: fixed;
  }
  .text-left-lg {
    text-align: left;
  }
  .text-right-lg {
    text-align: right;
  }
  .text-center-lg {
    text-align: center;
  }
}