<ul class="list-unstyled initiative-pager row">

    <li class="col-sm-4">
        {% if previous_initiative %}
            <a class="ajax-load animate-reverse initiative-pager-arrow initiative-pager-arrow__previous" href="{{ previous_initiative.url }}"><i class="fa fa-angle-left" aria-hidden="true"></i> <span>{{ previous_initiative.title }}</span></a>
        {% endif %}
    </li>

    <li class="col-sm-4"><div class="initiative-pager-heading">Our Initiatives</div></li>

    <li class="col-sm-4">
        {% if next_initiative %}
            <a class="ajax-load initiative-pager-arrow initiative-pager-arrow__next" href="{{ next_initiative.url }}"><span>{{ next_initiative.title }}</span> <i class="fa fa-angle-right" aria-hidden="true"></i></a>
        {% endif %}
    </li>

</ul>