<nav class="sidenav-menu">
    <ul class="list-unstyled">
    {% for link in links %}
        <li>
            <a class="{% if link.active %}is-active{% endif %}" href="{{ link.href }}">{{ link.title }}</a>
            {% if link.children %}
                <ul>
                    {% for child in link.children %}
                        <li><a class="{% if child.active %}is-active{% endif %} ajax-load" href="{{ child.href }}">{{ child.title }}</a></li>
                    {% endfor %}
                 </ul>
            {% endif %}
        </li>
    {% endfor %}
</ul>
</nav>