{#
/**
 * @file
 * Default theme implementation for page titles.
 *
 * Available variables:
 * - title_attributes: HTML attributes for the page title element.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title: The page title, for use in the actual content.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @ingroup templates
 *
 * @see template_preprocess_page_title()
 */
#}
{% if title %}
  {% if background_url %}
    <div class="huge-title" style="background-image: url('{{ background_url }}')">
      <div class="container">
        <div class="page-header-wrapper">
          <h1{{ title_attributes.addClass('page-header') }}>{{ title }}</h1>
        </div>
      </div>
    </div>
  {% else %}
    <h1{{ title_attributes.addClass('page-header') }}>{{ title }}</h1>
  {% endif %}
{% endif %}
